#snow {
    position: absolute;
    top:0;
    left: 0;
    width: 99vw;
    height: 99vh;
    overflow: hidden;
    z-index: 1;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 100%;
}